server {
    root /var/www/html;

    index index.html index.htm index.nginx-debian.html;
    server_name test-dendromap.com www.test-dendromap.com;

    location / {
        try_files $uri $uri/ =404;
    }

    location /api {
        proxy_pass http://localhost:8001;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

location = /api/inventaire/notfinished {
        # Forward the request to the new endpoint while preserving the Authorization header
        proxy_pass http://nest-backend:8090/api/inventaire/notfinished;

        # Preserve the original query string
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Authorization $http_authorization;
    }
    location /mobile/api {
        proxy_pass http://nest-backend:8090/api;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /certs/star_test-dendromap_com.pem; # managed by Certbot
    ssl_certificate_key /certs/star_test-dendromap_com.key; # managed by Certbot
}

server {
    listen 8001;
    server_name localhost;
    root /var/www/dendromap/public;

    location / {
        try_files $uri /index.php$is_args$args;
    }

    location ~ ^/index\.php(/|$) {
        fastcgi_pass php:9000;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
        fastcgi_param PHP_VALUE "upload_max_filesize=128M \n post_max_size=300M \n memory_limit=-1";
        internal;
    }

    location ~ \.php$ {
        return 404;
    }

    error_log /dev/stdout info;
    access_log /var/log/nginx/project_access.log;
}

server {
    if ($host = test-dendromap.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    listen 80;
    listen [::]:80;

    server_name test-dendromap.com www.test-dendromap.com;
    return 404;
}
